:root {
  --screen-w-sm: 640px;
  --screen-w-md: 768px;
  --screen-w-lg: 1024px;
  --screen-w-xl: 1280px;
  --screen-w-2xl: 1536px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.editor a {
  @apply text-blue-500;
  text-decoration: underline;
  font-weight: 600;
}

.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-2xl {
  width: 100%;
}

@media (min-width: 640px) {
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-2xl {
    max-width: var(--screen-w-sm);
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-lg,
  .container-xl,
  .container-2xl {
    max-width: var(--screen-w-md);
  }
}

@media (min-width: 1024px) {
  .container-lg,
  .container-xl,
  .container-2xl {
    max-width: var(--screen-w-lg);
  }
}

@media (min-width: 1280px) {
  .container-xl,
  .container-2xl {
    max-width: var(--screen-w-xl);
  }
}

@media (min-width: 1536px) {
  .container-2xl {
    max-width: var(--screen-w-2xl);
  }
}
